* {
  padding: 0;
  margin: 0; }

.bg-pos-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/desktop/image-bg-1.jpg);
  height: 450px; }
  .bg-pos-1:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

.bg-pos-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/desktop/image-bg-2.jpg);
  height: 450px; }
  .bg-pos-2:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

.bg-pos-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/desktop/image-bg-3.jpg);
  height: 450px; }
  .bg-pos-3:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

.bg-pos-4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/desktop/image-bg-4.jpg);
  height: 450px; }
  .bg-pos-4:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

.bg-pos-5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/desktop/image-bg-5.jpg);
  height: 450px; }
  .bg-pos-5:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

.bg-pos-6 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/desktop/image-bg-6.jpg);
  height: 450px; }
  .bg-pos-6:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

.bg-pos-7 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/desktop/image-bg-7.jpg);
  height: 450px; }
  .bg-pos-7:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

.bg-pos-8 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/desktop/image-bg-8.jpg);
  height: 450px; }
  .bg-pos-8:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

@media only screen and (max-width: 767px) {
  .bg-pos-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/mobile/image-bg-1.jpg);
    height: 240px; }
    .bg-pos-1:hover {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0.4; }

  .bg-pos-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/mobile/image-bg-2.jpg);
    height: 240px; }
    .bg-pos-2:hover {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0.4; }

  .bg-pos-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/mobile/image-bg-3.jpg);
    height: 240px; }
    .bg-pos-3:hover {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0.4; }

  .bg-pos-4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/mobile/image-bg-4.jpg);
    height: 240px; }
    .bg-pos-4:hover {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0.4; }

  .bg-pos-5 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/mobile/image-bg-5.jpg);
    height: 240px; }
    .bg-pos-5:hover {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0.4; }

  .bg-pos-6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/mobile/image-bg-6.jpg);
    height: 240px; }
    .bg-pos-6:hover {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0.4; }

  .bg-pos-7 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/mobile/image-bg-7.jpg);
    height: 240px; }
    .bg-pos-7:hover {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0.4; }

  .bg-pos-8 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/mobile/image-bg-8.jpg);
    height: 240px; }
    .bg-pos-8:hover {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0.4; } }
header {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  color: white;
  font-size: clamp(10px, 2vw, 15px) !important;
  height: 650px;
  max-height: 100%;
  background-image: url("/assets/img/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .header {
    height: 100%; }
    header .header a {
      color: white; }
      header .header a :hover {
        color: white; }
    header .header i.fas.fa-bars {
      color: white;
      font-size: 20px; }
  header .navbar-brand {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(25px, 3vw, 30px) !important;
    letter-spacing: -1px; }
  header .nav-link {
    transition: 1s; }
    header .nav-link:hover {
      color: white !important;
      text-decoration: underline white solid 2px;
      text-underline-offset: 11px;
      transform: translateX(-2px);
      transition: 0.6s; }
    header .nav-link:active {
      color: white; }
  header .box-title {
    height: 100%;
    max-height: 300px;
    align-items: center;
    display: flex;
    max-width: 700px !important;
    width: 100%;
    border: 1px solid white;
    padding: 3em; }
  header .title-big {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(35px, 5vw, 60px) !important; }

section.leader {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  color: white;
  font-size: clamp(10px, 2vw, 15px) !important;
  color: #8c8c8c;
  margin: 9em 0; }
  section.leader .ab-leader {
    left: -7%;
    position: relative; }
  section.leader .box-leader {
    background-color: white;
    padding: 6em 6em 0;
    max-width: 646px; }

section.creations {
  margin-bottom: 120px; }
  section.creations .col-12 {
    margin: 2em 0; }
  section.creations a.see {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(10px, 2vw, 15px) !important;
    background-color: black;
    max-width: 150px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    max-height: 50px;
    padding: 20px 0;
    letter-spacing: 4px; }
    section.creations a.see:hover {
      background-color: white;
      border: 1px solid black;
      color: black;
      transition: 0.4s; }
  section.creations a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(25px, 3vw, 30px) !important;
    text-decoration: none;
    width: 100%;
    height: 100%; }
    section.creations a:hover {
      opacity: 1;
      z-index: 3;
      color: black; }
  section.creations .sub-creations {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(22px, 2vw, 25px);
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: -18em; }

.leader-title,
h3.creations {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: clamp(25px, 4vw, 45px) !important;
  color: black; }

.earth,
.game,
.soccer,
.car,
.race,
.aerial,
.robot,
.picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px; }
  .earth:hover,
  .game:hover,
  .soccer:hover,
  .car:hover,
  .race:hover,
  .aerial:hover,
  .robot:hover,
  .picture:hover {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.4; }

footer {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  color: white;
  font-size: clamp(10px, 2vw, 15px) !important;
  background-color: black;
  padding: 20px 0; }
  footer .navbar-brand {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(25px, 3vw, 30px) !important;
    letter-spacing: -1px; }
    footer .navbar-brand:hover {
      color: white; }
  footer .nav-link {
    color: white; }
    footer .nav-link:hover {
      color: white;
      text-decoration: underline white solid 2px;
      text-underline-offset: 11px;
      transform: translateX(-2px);
      transition: 0.6s; }
    footer .nav-link:focus {
      color: white; }
    footer .nav-link i.fab {
      font-size: 30px; }
      footer .nav-link i.fab:hover {
        text-decoration: underline solid 2px white;
        color: white; }
      footer .nav-link i.fab:focus {
        color: white; }
  footer #footerText {
    padding: 0; }
  footer .footer-copyright {
    padding: 0;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(10px, 2vw, 15px) !important;
    color: #8c8c8c; }

@media only screen and (max-width: 767px) {
  .title-big {
    max-width: 100px !important; } }

@media only screen and (max-width: 767px) {
  header {
    background-image: url("../../../assets/img/mobile/image-hero.jpg"); }
    header .navbar-collapse {
      margin-bottom: 22em;
      top: 100px;
      position: relative; }
    header .nav-link {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: white;
      font-size: clamp(25px, 3vw, 30px) !important;
      font-weight: 300 !important;
      line-height: 1.5em; }
    header.active {
      background-color: black !important;
      background-image: none !important; }
    header .fa-times {
      color: white;
      font-size: 20px;
      transition: all 0.4s ease-in-out; } }

@media only screen and (max-width: 767px) {
  section.leader .ab-leader {
    position: initial; }
  section.leader .box-leader {
    text-align: center; } }

@media only screen and (max-width: 767px) {
  section.creations a.see {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 30px auto 0; }
    section.creations a.see:focus {
      transition: 0.4s;
      color: white;
      background-color: black; }
  section.creations .leader-title,
  section.creations h3.creations {
    text-align: center; }
  section.creations .sub-creations {
    justify-content: flex-start;
    bottom: -10em;
    padding-left: 2em; } }

footer {
  text-align: center; }

/*# sourceMappingURL=loop-main.css.map */
