section.header {
    height: 650px;
    & header {
        @include type-1(15);
        height: 100%;
        max-height: 100%;
        background: {
            image: url("/assets/img/desktop/image-hero.jpg");
            position: center;
            repeat: no-repeat;
            size: cover;
        }
    }
    & a {
        color: $primary-color;
    }
}

.navbar-brand {
    @include type-1(30);
    letter-spacing: -1px;
}

.nav-link {
    transition: 1s;
    &:hover {
        color: $primary-color;
        text-decoration: underline $primary-color solid 2px;
        text-underline-offset: 11px;
        transform: translateX(-2px);
    }
    &:active {
        color: $primary-color;
    }
}

.box-title {
    height: 100%;
    max-height: 300px;
    align-items: center;
    display: flex;
    max-width: 700px;
    width: 100%;
    border: 1px solid $primary-color;
    padding: 3em;
}

.title-big {
    @include type-2(60);
}

section.leader {
    @include type-1(15);
    color: $third-color;
    margin: 9em 0;
    & .ab-leader {
        left: -7%;
        position: relative;
    }
    & .box-leader {
        background-color: white;
        padding: 6em 6em 0;
        max-width: 646px;
    }
}

section.creations {
    margin-bottom: 120px;
    & .col-12 {
        margin: 2em 0;
    }
    & a.see {
        @include type-1(15);
        background-color: $second-color;
        max-width: 150px;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
        color: $primary-color;
        text-decoration: none;
        max-height: 50px;
        padding: 20px 0;
        letter-spacing: 4px;
        &:hover {
            background-color: $primary-color;
            border: 1px solid $second-color;
            color: $second-color;
            transition: 0.4s;
        }
    }
    & a {
        @include type-2(30);
        text-decoration: none;
        width: 100%;
        height: 100%;
        &:hover {
            opacity: 1;
            z-index: 3;
            color: $second-color;
        }
    }
    & .sub-creations {
        position: relative;
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        bottom: -18em;
    }
}

.leader-title,
h3.creations {
    @include type-2(45);
    color: $second-color;
}

.earth,
.game,
.soccer,
.car,
.race,
.aerial,
.robot,
.picture {
    background: {
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    height:450px;
    &:hover {
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        opacity: 0.4;
    }
}

.earth {
    background: {
        image: url("/assets/img/desktop/image-deep-earth.jpg");
    }
}

.game {
    background: {
        image: url("/assets/img/desktop/image-night-arcade.jpg");
    }
}

.soccer {
    background: {
        image: url("/assets/img/desktop/image-soccer-team.jpg");
    }
}

.car {
    background: {
        image: url("/assets/img/desktop/image-grid.jpg");
    }
}

.race {
    background: {
        image: url("/assets/img/desktop/image-from-above.jpg");
    }
}

.aerial {
    background: {
        image: url("/assets/img/desktop/image-pocket-borealis.jpg");
    }
}

.robot {
    background: {
        image: url("/assets/img/desktop/image-curiosity.jpg");
    }
}

.picture {
    background: {
        image: url("/assets/img/desktop/image-fisheye.jpg");
    }
}

.footer {
    background-color: $second-color;
    padding: 20px 0;
    & .navbar-brand {
        &:hover {
            color: $primary-color;
        }
    }
    & .nav-link {
        color: $primary-color;
        & i.fab {
            font-size: 30px;
            &:hover {
                text-decoration: underline solid 2px $primary-color;
            }
        }
    }
    & #footerText {
        padding: 0;
    }
    & .footer-copyright {
        padding: 0;
        @include type-1(15);
        color: $third-color;
    }
}