section.header {
    height: 650px;
    & header {
        @include type-1(15);
        height: 100%;
        max-height: 100%;
        background: {
            image: url("/assets/img/desktop/image-hero.jpg");
            position: center;
            repeat: no-repeat;
            size: cover;
        }
    }
    & a {
        color: $primary-color;
    }
}

.navbar-brand {
    @include type-1(30);
    letter-spacing: -1px;
}

.nav-link {
    transition: 1s;
    &:hover {
        color: $primary-color;
        text-decoration: underline $primary-color solid 2px;
        text-underline-position: under;
        transform: translateX(-2px);
        transition: 0.3s;
    }
    &:active {
        color: $primary-color;
    }
}

.box-title {
    height: 100%;
    max-height: 300px;
    align-items: center;
    display: flex;
    max-width: 700px;
    width: 100%;
    border: 1px solid $primary-color;
    padding: 3em;
}

.title-big {
    @include type-2(60);
}