//color
$primary-color:hsl(0, 0%, 100%);
$second-color:hsl(0, 0%, 0%);
$third-color:hsl(0, 0%, 55%);
$for-color:hsl(0, 0%, 41%);
//tipography
@mixin type-1($size) {
    font: {
        family: 'Alata', sans-serif;
        weight: 400;
    }
    color:$primary-color;
    @if $size==15 {
        font-size: clamp(10px, 2vw, 15px)!important;
    }
    @else if $size==30 {
        font-size: clamp(25px, 3vw, 30px)!important;
    }
    @else if $size==45 {
        font-size: clamp(40px, 4vw, 45px)!important;
    }
    @else if $size==60 {
        font-size: clamp(45px, 5vw, 60px)!important;
    }
}

@mixin type-2($size) {
    font: {
        family: 'Josefin Sans', sans-serif;
        weight: 400;
    }
    color:$primary-color;
    @if $size==15 {
        font-size: clamp(10px, 2vw, 15px)!important;
    }
    @else if $size==25 {
        font-size: clamp(22px, 2vw, 25px);
    }
    @else if $size==30 {
        font-size: clamp(25px, 3vw, 30px)!important;
    }
    @else if $size==45 {
        font-size: clamp(25px, 4vw, 45px)!important;
    }
    @else if $size==60 {
        font-size: clamp(35px, 5vw, 60px)!important;
    }
}

//media
@mixin dispositivo($dispositivo) {
    @if $dispositivo==tablet {
        @media only screen and(max-width: 992px) {
            @content;
        }
    }
    @else if $dispositivo==mobile {
        @media only screen and(max-width: 767px) {
            @content;
        }
    }
}

//each
$sizes: 1 url(../../../assets/img/desktop/image-bg-1.jpg),
2 url(../../../assets/img/desktop/image-bg-2.jpg),
3 url(../../../assets/img/desktop/image-bg-3.jpg),
4 url(../../../assets/img/desktop/image-bg-4.jpg),
5 url(../../../assets/img/desktop/image-bg-5.jpg),
6 url(../../../assets/img/desktop/image-bg-6.jpg),
7 url(../../../assets/img/desktop/image-bg-7.jpg),
8 url(../../../assets/img/desktop/image-bg-8.jpg);
@each $pos,
$images in $sizes {
    .bg-pos-#{$pos} {
        background: {
            position: center;
            repeat: no-repeat;
            size: cover;
            image: $images;
        }
        height: 450px;
        &:hover {
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            opacity: 0.4;
        }
    }
}

@include dispositivo (mobile) {
    $sizes: 1 url(../../../assets/img/mobile/image-bg-1.jpg), 2 url(../../../assets/img/mobile/image-bg-2.jpg), 3 url(../../../assets/img/mobile/image-bg-3.jpg), 4 url(../../../assets/img/mobile/image-bg-4.jpg), 5 url(../../../assets/img/mobile/image-bg-5.jpg), 6 url(../../../assets/img/mobile/image-bg-6.jpg), 7 url(../../../assets/img/mobile/image-bg-7.jpg), 8 url(../../../assets/img/mobile/image-bg-8.jpg);
    @each $pos,
    $images in $sizes {
        .bg-pos-#{$pos} {
            background: {
                position: center;
                repeat: no-repeat;
                size: cover;
                image: $images;
            }
            height: 240px;
            ;
            &:hover {
                -moz-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                opacity: 0.4;
            }
        }
    }
}